approval-workflow.json
{
  "name": "Video Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-for-approval",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [40, 20],
      "id": "approval-webhook-001",
      "name": "Approval Webhook"
    },
    {
      "parameters": {
        "fromEmail": "streamingpro@example.com",
        "toEmail": "{{ $json.metadata.enviadorEmail }}",
        "subject": "Aprobación Requerida: {{ $json.contenido.titulo }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #f5f5f5; }\n    .container { max-width: 600px; margin: 0 auto; background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; text-align: center; margin-bottom: 30px; }\n    .content { margin-bottom: 30px; }\n    .field { margin-bottom: 20px; padding: 15px; background-color: #f8f9fa; border-radius: 5px; }\n    .field-label { font-weight: bold; color: #333; margin-bottom: 8px; }\n    .field-content { color: #555; line-height: 1.6; white-space: pre-wrap; }\n    .buttons { text-align: center; margin-top: 30px; }\n    .btn { display: inline-block; padding: 12px 24px; margin: 0 10px; text-decoration: none; border-radius: 5px; font-weight: bold; color: white; }\n    .btn-approve { background-color: #28a745; }\n    .btn-reject { background-color: #dc3545; }\n    .social-section { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }\n    .social-card { background-color: #ffffff; border: 1px solid #e9ecef; padding: 15px; border-radius: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎥 StreamingPro</h1>\n      <p>Solicitud de Aprobación de Contenido</p>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"field\">\n        <div class=\"field-label\">📝 Título:</div>\n        <div class=\"field-content\">{{ $json.contenido.titulo }}</div>\n      </div>\n      \n      <div class=\"field\">\n        <div class=\"field-label\">🎯 Tema:</div>\n        <div class=\"field-content\">{{ $json.contenido.tema }}</div>\n      </div>\n      \n      <div class=\"field\">\n        <div class=\"field-label\">🎬 Guión:</div>\n        <div class=\"field-content\">{{ $json.contenido.guion }}</div>\n      </div>\n      \n      <div class=\"field\">\n        <div class=\"field-label\">📄 Descripción:</div>\n        <div class=\"field-content\">{{ $json.contenido.descripcion }}</div>\n      </div>\n      \n      <div class=\"social-section\">\n        <div class=\"social-card\">\n          <div class=\"field-label\">🔗 LinkedIn:</div>\n          <div class=\"field-content\">{{ $json.contenido.textoLinkedin }}</div>\n        </div>\n        \n        <div class=\"social-card\">\n          <div class=\"field-label\">🐦 Twitter:</div>\n          <div class=\"field-content\">{{ $json.contenido.tweet }}</div>\n        </div>\n      </div>\n      \n      <hr style=\"margin: 30px 0; border: 1px solid #e9ecef;\">\n      \n      <div style=\"background-color: #f8f9fa; padding: 15px; border-radius: 8px; font-size: 14px; color: #666;\">\n        <strong>Información adicional:</strong><br>\n        • Prompt usado: {{ $json.metadata.promptUsado }}<br>\n        • Categoría: {{ $json.metadata.categoria }}<br>\n        • Fecha de creación: {{ $json.metadata.fechaCreacion }}<br>\n        • ID del video: {{ $json.videoId }}\n      </div>\n    </div>\n    \n    <div class=\"buttons\">\n      <a href=\"https://tu-dominio.com/api/webhooks/approval-response?videoId={{ $json.videoId }}&aprobado=true&aprobadoPor={{ $json.metadata.enviadorEmail }}\" class=\"btn btn-approve\">\n        ✅ Aprobar Contenido\n      </a>\n      <a href=\"https://tu-dominio.com/api/webhooks/approval-response?videoId={{ $json.videoId }}&aprobado=false&aprobadoPor={{ $json.metadata.enviadorEmail }}&comentarios=Necesita%20modificaciones\" class=\"btn btn-reject\">\n        ❌ Rechazar Contenido\n      </a>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 20px; font-size: 12px; color: #888;\">\n      <p>Este es un email automatizado del sistema StreamingPro.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [240, 20],
      "id": "email-send-001",
      "name": "Send Approval Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoId\": \"{{ $json.videoId }}\",\n  \"success\": true,\n  \"message\": \"Email de aprobación enviado exitosamente\",\n  \"emailSentTo\": \"{{ $json.metadata.enviadorEmail }}\",\n  \"sentAt\": \"{{ new Date().toISOString() }}\",\n  \"approvalEmailSent\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 20],
      "id": "callback-success-001",
      "name": "Success Callback"
    }
  ],
  "pinData": {},
  "connections": {
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "approval-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "VideoApprovalWorkflow",
  "tags": []
}