blotato-publish-workflow.json
{
  "name": "StreamingPro - Publicar en BLOTATO",
  "nodes": [
    {
      "parameters": {
        "path": "publicar-video",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-publish-video",
      "name": "Webhook - Publicar Video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "publicar-video"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"blotato_api_key\": \"{{ $json.body.blotato.api_key }}\",\n  \"instagram_id\": \"{{ $json.body.blotato.accounts.instagram_id }}\",\n  \"youtube_id\": \"{{ $json.body.blotato.accounts.youtube_id }}\",\n  \"tiktok_id\": \"{{ $json.body.blotato.accounts.tiktok_id }}\",\n  \"twitter_id\": \"{{ $json.body.blotato.accounts.twitter_id }}\",\n  \"linkedin_id\": \"{{ $json.body.blotato.accounts.linkedin_id }}\",\n  \"titulo\": \"{{ $json.body.contenido.titulo }}\",\n  \"tema\": \"{{ $json.body.contenido.tema }}\",\n  \"guion\": \"{{ $json.body.contenido.guion }}\",\n  \"descripcion\": \"{{ $json.body.contenido.descripcion }}\",\n  \"tweet\": \"{{ $json.body.contenido.tweet }}\",\n  \"textoLinkedin\": \"{{ $json.body.contenido.textoLinkedin }}\",\n  \"final_text_long\": \"{{ $json.body.contenido.textoLinkedin }}\",\n  \"videoUrl\": \"{{ $json.body.videoUrl }}\",\n  \"videoId\": \"{{ $json.body.videoId }}\",\n  \"callbackUrl\": \"{{ $json.body.callbackUrl }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "id": "prepare-for-blotato",
      "name": "Prepare for BLOTATO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Prepare for BLOTATO').item.json.videoUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "id": "upload-to-blotato",
      "name": "Upload Video to BLOTATO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"url\": \"{{ $json.url }}\",\n      \"title\": \"{{ $('Prepare for BLOTATO').item.json.titulo }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": \"{{ $('Prepare for BLOTATO').item.json.descripcion }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for BLOTATO').item.json.youtube_id }}\"\n  }   \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 100],
      "id": "publish-youtube",
      "name": "Publish to YouTube"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\",\n      \"mediaType\": \"reel\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for BLOTATO').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for BLOTATO').item.json.instagram_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220],
      "id": "publish-instagram",
      "name": "Publish to Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Prepare for BLOTATO').item.json.descripcion }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for BLOTATO').item.json.tiktok_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 340],
      "id": "publish-tiktok",
      "name": "Publish to TikTok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Prepare for BLOTATO').item.json.tweet }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for BLOTATO').item.json.twitter_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 460],
      "id": "publish-twitter",
      "name": "Publish to Twitter/X"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for BLOTATO').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Prepare for BLOTATO').item.json.textoLinkedin }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for BLOTATO').item.json.linkedin_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 580],
      "id": "publish-linkedin",
      "name": "Publish to LinkedIn"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare for BLOTATO').item.json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoId\": \"{{ $('Prepare for BLOTATO').item.json.videoId }}\",\n  \"success\": true,\n  \"message\": \"Video publicado exitosamente en todas las redes sociales\",\n  \"publicacionExitosa\": true,\n  \"videoUrl\": \"{{ $('Prepare for BLOTATO').item.json.videoUrl }}\",\n  \"plataformas\": {\n    \"youtube\": {{ $('Publish to YouTube').item.json ? 'true' : 'false' }},\n    \"instagram\": {{ $('Publish to Instagram').item.json ? 'true' : 'false' }},\n    \"tiktok\": {{ $('Publish to TikTok').item.json ? 'true' : 'false' }},\n    \"twitter\": {{ $('Publish to Twitter/X').item.json ? 'true' : 'false' }},\n    \"linkedin\": {{ $('Publish to LinkedIn').item.json ? 'true' : 'false' }}\n  },\n  \"fechaPublicacion\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 340],
      "id": "success-callback",
      "name": "Success Callback"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Video enviado para publicación en redes sociales\",\n  \"videoId\": \"{{ $json.body.videoId }}\",\n  \"videoUrl\": \"{{ $json.body.videoUrl }}\",\n  \"status\": \"publishing\",\n  \"plataformas\": [\"YouTube\", \"Instagram\", \"TikTok\", \"Twitter/X\", \"LinkedIn\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 340],
      "id": "webhook-response",
      "name": "Webhook Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Publicar Video": {
      "main": [
        [
          {
            "node": "Prepare for BLOTATO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for BLOTATO": {
      "main": [
        [
          {
            "node": "Upload Video to BLOTATO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to BLOTATO": {
      "main": [
        [
          {
            "node": "Publish to YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to TikTok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Twitter/X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to YouTube": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to TikTok": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Twitter/X": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Callback": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "blotato-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "StreamingProBLOTATOPublish",
  "tags": ["streamingpro", "blotato", "social-media"]
}