content-generation-manual.json
{
  "name": "Content Generation Manual",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        20
      ],
      "id": "manual-webhook-001",
      "name": "Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "manual-videoid-001",
              "name": "videoId",
              "value": "={{ $json.body.videoId }}",
              "type": "string"
            },
            {
              "id": "manual-callback-002",
              "name": "callbackUrl",
              "value": "={{ $json.body.callbackUrl }}",
              "type": "string"
            },
            {
              "id": "manual-mockdata-003",
              "name": "mockResponse",
              "value": "{\n  \"videoId\": \"{{ $json.body.videoId }}\",\n  \"success\": true,\n  \"content\": {\n    \"titulo\": \"쯉ab칤as que las c치maras PTZ tienen un secreto oculto?\",\n    \"tema\": \"Configuraci칩n avanzada de c치maras PTZ en broadcast\",\n    \"guion\": \"쯉ab칤as que las c치maras PTZ pueden hacer movimientos tan precisos que pueden seguir una pelota de ping-pong a 120 km/h? Esto es posible gracias a sus motores paso a paso y sensores girosc칩picos internos que se calibran autom치ticamente cada vez que las enciendes. En eventos deportivos profesionales, estas c치maras pueden predecir el movimiento del bal칩n usando algoritmos de IA integrados. La clave est치 en configurar correctamente los presets y la velocidad de seguimiento en tu software de control. Si quieres m치s curiosidades como esta, s칤gueme. Soy Marcelo y esto es StreamingPro.\",\n    \"textoLinkedin\": \"Las c치maras PTZ han revolucionado la producci칩n audiovisual profesional. Su tecnolog칤a de seguimiento autom치tico y los algoritmos predictivos permiten obtener tomas perfectas en eventos deportivos de alta velocidad. Los motores paso a paso de 칰ltima generaci칩n ofrecen una precisi칩n milim칠trica, mientras que los sensores girosc칩picos internos garantizan movimientos fluidos incluso en condiciones adversas.\",\n    \"tweet\": \"游꿘 쯉ab칤as que las c치maras PTZ pueden seguir una pelota de ping-pong a 120 km/h? La tecnolog칤a broadcast nunca deja de sorprender. #PTZ #Broadcast #StreamingPro\",\n    \"descripcion\": \"Descubre los secretos t칠cnicos detr치s de las c치maras PTZ profesionales y c칩mo su tecnolog칤a de motores paso a paso y sensores girosc칩picos permiten movimientos de precisi칩n milim칠trica. Perfecto para profesionales del broadcast que quieren optimizar sus configuraciones de c치mara en eventos deportivos y producciones en vivo.\"\n  },\n  \"metadata\": {\n    \"processedAt\": \"{{ new Date().toISOString() }}\",\n    \"promptUsed\": \"Consejos Broadcast\",\n    \"temasEvitados\": [],\n    \"totalTemasAnteriores\": 0\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        20
      ],
      "id": "manual-set-001",
      "name": "Set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.mockResponse }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        20
      ],
      "id": "manual-http-001",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "manual-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ContentGenerationManual",
  "tags": []
}