ejemplo_n8n.json
{
  "name": "Ideas Sabias que? MARTES",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiZcel6VjIig7VV",
          "mode": "list",
          "cachedResultName": "Sabias que",
          "cachedResultUrl": "https://airtable.com/appiZcel6VjIig7VV"
        },
        "table": {
          "__rl": true,
          "value": "tblJ0NGHZDO4CR3EG",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appiZcel6VjIig7VV/tblJ0NGHZDO4CR3EG"
        },
        "options": {
          "fields": [
            "TEMA"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        40,
        20
      ],
      "id": "235a47f3-5bfb-4454-9280-e73ac2b0d376",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "FFantzMloYjDE7lI",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Escribe el guion para un nuevo vídeo de \"Sabías que...\" dirigido a profesionales del sector audiovisual y de eventos.\n\nAquí tienes los temas que ya hemos publicado para que no los repitas:\n{{ $json.markdown }}\n\nRecuerda:\n- El guion debe ser único y original.\n- Tiene que despertar la curiosidad de profesionales del sector.\n- Asegúrate de seguir el formato JSON que te hemos indicado en el system message.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente experto en creación de contenido audiovisual, especializado en guiones para vídeos tipo \"Sabías que...\" dirigidos a profesionales del sector de eventos, broadcast, cámaras, controles de realización, streaming, sonido, proyecciones, pantallas LED e iluminación técnica.\n\nTu tarea es generar contenido completo para un vídeo de \"Sabías que...\" de MÁXIMO **90 segundos de duración** (unas **240-280 palabras**). Está dirigido a profesionales del sector, pero debe ser claro, directo y provocar curiosidad.\n\nPERFIL DEL CREADOR:\nMarcelo, profesional especializado en:\n- Broadcast, cámaras, controles de realización\n- Eventos corporativos, deportivos, esports\n- Conciertos, festivales, entrevistas y streaming\n- Distribución de vídeo por internet (RTMP, SRT)\n- Sonido profesional, pantallas LED, iluminación y proyecciones\n\nINPUT QUE RECIBIRÁS:\nUn array JSON con objetos que contienen temas ya publicados. Tu misión es:\n1. Analizar todos los temas existentes para no repetirlos\n2. Crear un tema totalmente NUEVO relacionado con broadcast, eventos, streaming, sonido, proyecciones o tecnologías audiovisuales\n3. El tema debe despertar CURIOSIDAD real en quienes trabajan en el sector\n\nFORMATO DE SALIDA (OBLIGATORIO):\nTU RESPUESTA DEBE SER **UN ÚNICO OBJETO JSON VÁLIDO**:\n\n{\n    \"titulo\": \"titulo\",\n    \"tema\": \"tema\", \n    \"guion\": \"guion\",\n    \"textoLinkedin\": \"textoLinkedin\",\n    \"tweet\": \"tweet\",\n    \"descripcion\": \"descripcion\"\n}\n\nDonde:\n- \"titulo\": Título optimizado para YouTube (60-70 caracteres)\n- \"tema\": Descripción breve del tema tratado\n- \"guion\": Texto del vídeo que DEBE:\n  - Empezar con \"Sabías que...\"\n  - Ser continuo, sin saltos de línea\n  - Tener una duración de menos de 90 segundos (240-280 palabras)\n  - Terminar siempre con esta llamada a la acción:  \n\"Si quieres más curiosidades como esta, sígueme. Soy Marcelo y esto es StreamingPro\"\n- \"textoLinkedin\": Un texto para la publicación de LinkedIn que esté acordé al video. Este texto puede ser mas amplio que el video. Recuerda que este texto puede ser leído por posibles clientes mios pero no hagas ninguna llamada a la accion ni digas nada que parezca venta.\n\n- \"tweet\": Frase breve con gancho + CTA tipo \"Si quieres saber más ve el vídeo\"\n- \"descripcion\": Texto de 100-150 palabras para YouTube y redes\n\nMEJORES PRÁCTICAS PARA EL TÍTULO:\n- Empieza con la palabra clave principal (streaming, cámara, LED…)\n- Usa números, preguntas o palabras emotivas\n- Despierta curiosidad sin ser clickbait\n- Ejemplos:\n  - \"¿Sabías que el streaming tiene 500ms de secreto oculto?\"\n  - \"3 errores comunes al usar cámaras en eventos\"\n  - \"¿Por qué las pantallas LED mienten en los conciertos?\"\n\nRESTRICCIONES CRÍTICAS:\n- NO uses comillas tipográficas (“ ”) ni comillas rectas (\")\n- El guion debe estar en un solo párrafo\n- Debe seguir la estructura:\n\nSobre el Guión\n1. \"Sabías que...\" + gancho impactante  \n2. Explicación técnica clara y fascinante  \n3. Aplicación práctica para el sector  \n4. Impacto real en el trabajo diario\n5. Toda la información debe ser técnicamente rigurosa, precisa y comprobable. Si no estás seguro de la veracidad de una afirmación técnica, NO LA INCLUYAS.\n6. No utilices nunca abreviaturas.\n7. Cuando utilices números separa los miles con comas, ya que el avatar así los lee mejor\n8. Si el numero que vas a usar es un millón o superior escríbelo, no lo pongas con números, escríbelos con letras.\n9. Cierre:  \n**\"Si quieres más curiosidades como esta, sígueme. Soy Marcelo y esto es StreamingPro.\"**\n\nTONO: Entusiasta, técnico pero accesible, como si le contaras un secreto fascinante a alguien de tu mismo sector.\n\nTEMAS POSIBLES:\n- Cámaras PTZ, sensores, ópticas broadcast  \n- Flujos de trabajo en controles de realización  \n- Curiosidades de RTMP, SRT, NDI o Dante  \n- Procesamiento de vídeo en tiempo real  \n- Sincronización AV en espectáculos en vivo  \n- Problemas comunes de latencia o encoding\n- Y otros temas relacionados que sean interesantes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        20
      ],
      "id": "18eceed6-6dcf-447a-83e0-bdefc073630e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"titulo\": \"titulo\",\n\t\"tema\": \"tema\",\n\t\"guion\": \"guion\",\n    \"textoLinkedin\": \"textoLinkedin\",\n    \"tweet\":\"tweet\",\n    \"descripcion\":\"descripcion\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        300
      ],
      "id": "135d9e99-f4a1-4057-b25c-6780660fb58f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "# Crear vídeo con avatar de IA\n- Se requiere un plan de pago de la API de Heygen; el plan gratuito no es suficiente.\n- Si tienes un guion largo, es posible que necesites aumentar el tiempo de ESPERA.\n- Puedes usar voces de ElevenLabs integrándolas directamente desde la aplicación de Heygen.",
        "height": 1160,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        -640
      ],
      "id": "2331e8d1-2181-48c0-9b6a-fe6fb2558b62",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Generar el Guíon\n\n- Recuperamos la lista de guiones creados\n- Con IA creamos un guión nuevo y lo pasamos a heygenc",
        "height": 1160,
        "width": 1300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -640
      ],
      "id": "ce3d3c62-38f5-4014-8f40-9792687e1f70",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Get Avatar Video').item.json.data.video_url}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        -120
      ],
      "id": "6a0eaea5-a1dc-4586-8acf-666fcbae6e7b",
      "name": "Upload to Blotato"
    },
    {
      "parameters": {
        "content": "# Publicar en redes sociales\n- Regístrate en Blotato: https://www.blotato.com\n- La API de Blotato actualmente no permite subir vídeos a Bluesky ni a Pinterest.\n- Esta función se habilitará en el futuro, por lo que he desactivado esos nodos por ahora.",
        "height": 1160,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2300,
        -640
      ],
      "id": "770082f6-2048-461e-b459-0356635e04a0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"blotato_api_key\": \"blt_qUuRW2Iey6DqwHbBy6J5sHobFYXged6UYtKASySbmRQ=\",\n  \"instagram_id\": \"4612\",\n  \"youtube_id\": \"3454\",\n  \"tiktok_id\": \"5678\",\n  \"twitter_id\": \"2583\",\n  \"linkedin_id\": \"2613\",\n  \"final_text_long\": \"{{ $('Setup Heygen').item.json.descripcion }}\",\n  \"final_text_short\": \"{{ $('Setup Heygen').item.json.tweet }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        -120
      ],
      "id": "510bdd8c-a29d-444c-abc8-256638a25c75",
      "name": "Prepare for Publish"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"url\": \"{{ $json.url }}\",\n      \"title\": \"{{ $('Setup Heygen').item.json.titulo }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": \"{{ $('Setup Heygen').item.json.descripcion }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }   \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        -580
      ],
      "id": "bc2b55dd-7ef0-4df1-9f1e-d154c4077ce2",
      "name": "YOUTUBE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Setup Heygen').item.json.descripcion }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        -340
      ],
      "id": "a8e8e850-1112-4f1f-bc21-d08a0ac1d045",
      "name": "TIKTOK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Setup Heygen').item.json.tweet }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        -120
      ],
      "id": "9bb78446-a541-4e6f-b89c-a4507dbcf05b",
      "name": "X"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\",\n      \"mediaType\":\"reel\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        100
      ],
      "id": "f67cf798-d747-43b1-bac2-95976747607a",
      "name": "INSTAGRAM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Prepare for Publish').item.json.blotato_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Setup Heygen').item.json.guion }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        320
      ],
      "id": "f8fd688d-50da-4619-bed9-c93c4f86c07d",
      "name": "LINKEDIN"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiZcel6VjIig7VV",
          "mode": "list",
          "cachedResultName": "Sabias que",
          "cachedResultUrl": "https://airtable.com/appiZcel6VjIig7VV"
        },
        "table": {
          "__rl": true,
          "value": "tblJ0NGHZDO4CR3EG",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appiZcel6VjIig7VV/tblJ0NGHZDO4CR3EG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TEMA": "={{ $('Setup Heygen').item.json.tema }}",
            "GUION": "={{ $('Setup Heygen').item.json.guion }}",
            "VIDEO": "={{ $json.data.video_url_caption }}",
            "Estado": "PUBLICADO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TEMA",
              "displayName": "TEMA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GUION",
              "displayName": "GUION",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VIDEO",
              "displayName": "VIDEO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "PUBLICADO",
                  "value": "PUBLICADO"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2460,
        120
      ],
      "id": "4f2f9a6a-19a2-4b2d-b406-50a715faf815",
      "name": "GUARDAR VIDEO",
      "credentials": {
        "airtableTokenApi": {
          "id": "FFantzMloYjDE7lI",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        -220
      ],
      "id": "480c1553-cfc8-47a9-8331-ba91c20e3deb",
      "name": "Wait",
      "webhookId": "614b7de9-3c1d-4863-a852-bfedaa49d3d8"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "mail.streamingpro@gmail.com",
        "subject": "=Guión del {{ $today.format('dd-MM') }}",
        "message": "=Tema\n{{ $json.output.tema }}\n\nTitulo\n{{ $json.output.titulo }}\n\nGuión\n{{ $json.output.guion }}\n\nTweet\n{{ $json.output.tweet }}\n\nDescripción\n{{ $json.output.descripcion }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1080,
        20
      ],
      "id": "83553dca-9ef8-468c-b970-ec121e1a2c1f",
      "name": "Gmail",
      "webhookId": "30dad149-900b-4def-bf16-2c809c71cd1d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ns7EJzfkC2Vw5ou3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9d73c65-f1b1-45b7-80b0-ded75882e63a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        20
      ],
      "id": "62d7e71b-70a8-4a11-9230-d347d3a5ec94",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Aprobar guión\n\n- Enviamos mail para aprobación",
        "height": 1160,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -640
      ],
      "id": "4ad12f31-5b73-415d-a906-13aa87b7f740",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "id": "904ba19f-827c-4bc4-9e4e-89ea8da1cbff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2va40OwZXyIr6lVs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        20
      ],
      "id": "64034e09-21b0-4b17-8c7f-ab1adcf630b8",
      "name": "Iniciar"
    },
    {
      "parameters": {
        "jsCode": "\n// items es la variable que contiene los datos de entrada en n8n\nconst markdown = items.map(item => `- ${item.json.TEMA}`).join('\\n');\n\n// Devuelve el resultado como un nuevo item\nreturn [{ json: { markdown } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        20
      ],
      "id": "3f69fb89-092a-4f0d-8738-dc04bf56bba8",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.heygen.com/v2/template/{{ $json.template }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"caption\": true,\n  \"title\": \"{{ $json.titulo }}\",\n  \"variables\": {\n    \"texto\": {\n      \"name\": \"texto\",\n      \"type\": \"text\",\n      \"properties\": {\n        \"content\": \"{{ $json.guion }}\"\n      }\n    }\n  },\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"include_gif\": false,\n  \"enable_sharing\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        0
      ],
      "id": "d1d7f293-b66d-46fb-bcce-4f56d51f73c1",
      "name": "CREAR VIDEO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c94c45a9-6348-4cda-869e-37d6206c8660",
              "name": "template",
              "value": "fd0e8e0bd6ea401087ddf3aaafe3e76b",
              "type": "string"
            },
            {
              "id": "ed7ebd72-06be-4ae7-bbf3-f03aca8fb1ac",
              "name": "heygen_api_key",
              "value": "ZTYzYjExYzQyMmM3NGE5NTllZGQ2YTYyMjFkZmIyMjEtMTc0ODg5OTg4Mg==",
              "type": "string"
            },
            {
              "id": "4373096e-9cff-4fc6-81f2-4d25eb8676e6",
              "name": "avatar_id",
              "value": "Brandon_expressive_public",
              "type": "string"
            },
            {
              "id": "c95e8cef-361f-4286-8e91-f9a7e818be00",
              "name": "voice_id",
              "value": "49480595abe041dbaba136be8a913ad9",
              "type": "string"
            },
            {
              "id": "9ed08bec-6c3b-4197-b657-1054c4ccb3d8",
              "name": "background_video_url",
              "value": "https://database.blotato.io/storage/v1/object/public/public_media/33687d49-469e-4637-980c-94bcc2d8482e/videogen2-render-3c7d1b05-94c4-4993-8e19-4203a17270ea.mp4",
              "type": "string"
            },
            {
              "id": "e4bf0a66-20b9-4a29-8a7b-693915b3058d",
              "name": "titulo",
              "value": "={{ $('AI Agent').item.json.output.titulo }}",
              "type": "string"
            },
            {
              "id": "aaf634f9-4fd8-4bee-abf1-abd70dfcc08c",
              "name": "=tema",
              "value": "={{ $('AI Agent').item.json.output.tema }}",
              "type": "string"
            },
            {
              "id": "840b4c58-eb01-4f07-80dd-75a894bce7a0",
              "name": "guion",
              "value": "={{ $('AI Agent').item.json.output.guion }}",
              "type": "string"
            },
            {
              "id": "e4ea91fe-b188-423b-b152-4a5c799b1862",
              "name": "tweet",
              "value": "={{ $('AI Agent').item.json.output.tweet }}",
              "type": "string"
            },
            {
              "id": "98a294ab-51c1-4f84-96c3-06115b800c94",
              "name": "descripcion",
              "value": "={{ $('AI Agent').item.json.output.descripcion }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        0
      ],
      "id": "0a26f2d1-f6c6-4d74-8193-72d23361a66a",
      "name": "Setup Heygen",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7728d44b-47b5-42d0-84b0-384e7e8123a4",
              "leftValue": "={{ $json.data.thumbnail_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        0
      ],
      "id": "7bdf23d9-6713-44dc-a9d1-4234904737c3",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('CREAR VIDEO').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "id": "a7cc8c98-66c2-4e2e-8775-29d4b776db1a",
      "name": "Get Avatar Video"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        -200
      ],
      "id": "5887f8ee-3d4d-4911-a7ec-41a3b98e2467",
      "name": "MARTES 9am"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        260
      ],
      "id": "435ce922-d9f3-473e-b981-8217d7bad2ea",
      "name": "MARTES 5pm"
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato": {
      "main": [
        [
          {
            "node": "INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINKEDIN",
            "type": "main",
            "index": 0
          },
          {
            "node": "TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "YOUTUBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Publish": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Setup Heygen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR VIDEO": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Heygen": {
      "main": [
        [
          {
            "node": "CREAR VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Prepare for Publish",
            "type": "main",
            "index": 0
          },
          {
            "node": "GUARDAR VIDEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MARTES 9am": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MARTES 5pm": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ab6f5046-254f-4f4b-b1f3-f1ba644fe9a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d7fc3c0eb3a4904bae921b91f098fad0e80332dd786fc8b7faabecf5bfb8b08"
  },
  "id": "OshoURyxfNwjuaEx",
  "tags": []
}