video-approval-workflow.json
{
  "name": "Video Approval System",
  "nodes": [
    {
      "parameters": {
        "path": "send-for-approval",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Send for Approval",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "send-for-approval"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "videoId",
              "value": "={{ $json.body.videoId }}"
            },
            {
              "name": "titulo",
              "value": "={{ $json.body.contenido.titulo }}"
            },
            {
              "name": "tema",
              "value": "={{ $json.body.contenido.tema }}"
            },
            {
              "name": "guion",
              "value": "={{ $json.body.contenido.guion }}"
            },
            {
              "name": "textoLinkedin",
              "value": "={{ $json.body.contenido.textoLinkedin }}"
            },
            {
              "name": "tweet",
              "value": "={{ $json.body.contenido.tweet }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.body.contenido.descripcion }}"
            },
            {
              "name": "promptUsado",
              "value": "={{ $json.body.metadata.promptUsado }}"
            },
            {
              "name": "categoria",
              "value": "={{ $json.body.metadata.categoria }}"
            },
            {
              "name": "fechaCreacion",
              "value": "={{ $json.body.metadata.fechaCreacion }}"
            },
            {
              "name": "enviadorEmail",
              "value": "={{ $json.body.metadata.enviadorEmail }}"
            },
            {
              "name": "callbackUrl",
              "value": "={{ $json.body.callbackUrl }}"
            },
            {
              "name": "approveUrl",
              "value": "={{ $json.body.callbackUrl.replace('/api/webhooks', '') }}/api/webhooks/approval-response?action=approve&videoId={{ $json.body.videoId }}"
            },
            {
              "name": "rejectUrl",
              "value": "={{ $json.body.callbackUrl.replace('/api/webhooks', '') }}/api/webhooks/approval-response?action=reject&videoId={{ $json.body.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@streamingpro.com",
        "toEmail": "={{ $json.enviadorEmail }}",
        "subject": "🎬 StreamingPro - Solicitud de Aprobación de Video",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>StreamingPro - Aprobación de Video</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f8f9fa;\n        }\n        .container {\n            max-width: 700px;\n            margin: 20px auto;\n            background-color: #ffffff;\n            border-radius: 12px;\n            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 28px;\n            font-weight: 600;\n        }\n        .header p {\n            margin: 10px 0 0 0;\n            opacity: 0.9;\n            font-size: 16px;\n        }\n        .content {\n            padding: 40px 30px;\n        }\n        .video-info {\n            background-color: #f8f9ff;\n            border-left: 4px solid #667eea;\n            padding: 20px;\n            margin-bottom: 25px;\n            border-radius: 8px;\n        }\n        .video-info h3 {\n            margin: 0 0 15px 0;\n            color: #333;\n            font-size: 20px;\n        }\n        .field {\n            margin-bottom: 20px;\n        }\n        .field-label {\n            font-weight: 600;\n            color: #555;\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            margin-bottom: 8px;\n        }\n        .field-value {\n            background-color: #ffffff;\n            padding: 15px;\n            border: 1px solid #e9ecef;\n            border-radius: 6px;\n            line-height: 1.6;\n            color: #333;\n        }\n        .script-content {\n            max-height: 200px;\n            overflow-y: auto;\n        }\n        .actions {\n            text-align: center;\n            margin: 40px 0 20px 0;\n        }\n        .btn {\n            display: inline-block;\n            padding: 16px 32px;\n            margin: 10px 15px;\n            text-decoration: none;\n            border-radius: 8px;\n            font-weight: 600;\n            font-size: 16px;\n            transition: all 0.3s ease;\n            min-width: 140px;\n        }\n        .btn-approve {\n            background: linear-gradient(135deg, #28a745, #20c997);\n            color: white;\n            box-shadow: 0 4px 12px rgba(40, 167, 69, 0.3);\n        }\n        .btn-approve:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 6px 16px rgba(40, 167, 69, 0.4);\n        }\n        .btn-reject {\n            background: linear-gradient(135deg, #dc3545, #e74c3c);\n            color: white;\n            box-shadow: 0 4px 12px rgba(220, 53, 69, 0.3);\n        }\n        .btn-reject:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 6px 16px rgba(220, 53, 69, 0.4);\n        }\n        .metadata {\n            background-color: #f8f9fa;\n            padding: 20px;\n            margin-top: 30px;\n            border-radius: 8px;\n            border-top: 3px solid #6c757d;\n        }\n        .metadata h4 {\n            margin: 0 0 15px 0;\n            color: #6c757d;\n            font-size: 16px;\n        }\n        .metadata-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n        }\n        .metadata-item {\n            padding: 10px;\n            background-color: white;\n            border-radius: 4px;\n            border-left: 3px solid #667eea;\n        }\n        .metadata-label {\n            font-size: 12px;\n            color: #6c757d;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        .metadata-value {\n            font-size: 14px;\n            color: #333;\n            margin-top: 4px;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 20px 30px;\n            text-align: center;\n            border-top: 1px solid #e9ecef;\n            color: #6c757d;\n            font-size: 14px;\n        }\n        .video-id {\n            background: linear-gradient(135deg, #667eea, #764ba2);\n            color: white;\n            padding: 8px 16px;\n            border-radius: 20px;\n            font-size: 12px;\n            font-weight: 600;\n            display: inline-block;\n            margin-bottom: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🎬 StreamingPro</h1>\n            <p>Solicitud de Aprobación de Contenido</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"video-info\">\n                <div class=\"video-id\">ID: {{ $json.videoId }}</div>\n                <h3>{{ $json.titulo }}</h3>\n                \n                <div class=\"field\">\n                    <div class=\"field-label\">Tema</div>\n                    <div class=\"field-value\">{{ $json.tema }}</div>\n                </div>\n                \n                <div class=\"field\">\n                    <div class=\"field-label\">Guión del Video</div>\n                    <div class=\"field-value script-content\">{{ $json.guion.replace(/\\n/g, '<br>') }}</div>\n                </div>\n                \n                <div class=\"field\">\n                    <div class=\"field-label\">Texto para LinkedIn</div>\n                    <div class=\"field-value\">{{ $json.textoLinkedin.replace(/\\n/g, '<br>') }}</div>\n                </div>\n                \n                <div class=\"field\">\n                    <div class=\"field-label\">Tweet</div>\n                    <div class=\"field-value\">{{ $json.tweet }}</div>\n                </div>\n                \n                <div class=\"field\">\n                    <div class=\"field-label\">Descripción</div>\n                    <div class=\"field-value\">{{ $json.descripcion.replace(/\\n/g, '<br>') }}</div>\n                </div>\n            </div>\n            \n            <div class=\"actions\">\n                <a href=\"{{ $json.approveUrl }}\" class=\"btn btn-approve\">✅ APROBAR</a>\n                <a href=\"{{ $json.rejectUrl }}\" class=\"btn btn-reject\">❌ RECHAZAR</a>\n            </div>\n            \n            <div class=\"metadata\">\n                <h4>📊 Información Adicional</h4>\n                <div class=\"metadata-grid\">\n                    <div class=\"metadata-item\">\n                        <div class=\"metadata-label\">Prompt Usado</div>\n                        <div class=\"metadata-value\">{{ $json.promptUsado }}</div>\n                    </div>\n                    <div class=\"metadata-item\">\n                        <div class=\"metadata-label\">Categoría</div>\n                        <div class=\"metadata-value\">{{ $json.categoria }}</div>\n                    </div>\n                    <div class=\"metadata-item\">\n                        <div class=\"metadata-label\">Fecha de Creación</div>\n                        <div class=\"metadata-value\">{{ $json.fechaCreacion }}</div>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p>Este email fue generado automáticamente por StreamingPro.<br>\n            Por favor, revisa el contenido y selecciona una opción usando los botones de arriba.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.callbackUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"success\": true,\n  \"message\": \"Email de aprobación enviado exitosamente\",\n  \"videoId\": \"{{ $json.videoId }}\",\n  \"emailSent\": true,\n  \"timestamp\": \"{{ $now.format('YYYY-MM-DD HH:mm:ss') }}\",\n  \"recipientEmail\": \"{{ $json.enviadorEmail }}\"\n}"
      },
      "id": "success-callback",
      "name": "Success Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Solicitud de aprobación procesada correctamente\",\n  \"videoId\": \"{{ $('Set Variables').item.json.videoId }}\",\n  \"emailSent\": {{ $('Send Approval Email').item.json ? 'true' : 'false' }},\n  \"callbackSent\": {{ $('Success Callback').item.json ? 'true' : 'false' }},\n  \"timestamp\": \"{{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "{{ $json.error }}"
            },
            {
              "name": "videoId",
              "value": "={{ $('Set Variables').item.json.videoId || 'unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Error procesando solicitud de aprobación\",\n  \"error\": \"{{ $json.error }}\",\n  \"videoId\": \"{{ $json.videoId }}\",\n  \"timestamp\": \"{{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}",
        "responseCode": 500,
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Send for Approval": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Success Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Callback": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": {
      "id": "error-handler"
    }
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "video-approval",
      "name": "Video Approval"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}